div#ngHelperBusyLayer {
    display: none;
    background-color:       white;
    filter:                 alpha(opacity=50);      /* IE */
    opacity:                0.5;                    /* Safari, Opera */
    -moz-opacity:           0.50;                   /* FireFox */
    z-index:                20;
    height:                 100%;
    width:                  100%;
    background-repeat:      no-repeat;
    background-position:    center;
    position:               absolute;
    top:                    0;
    left:                   0;
}

div#ngHelperBusyLayer.busy {
    display: block;
}

div#ngHelperBusyLayer .wrapper {
    position: relative;
    top: 25%;

    margin-left: auto;
    margin-right: auto;
    width: 11em;
    height: 11em;
}

body.ngHelperBusyLayerNoScroll {
    overflow: hidden;
}

.message {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000000;
}

.loader {
    position: relative;
    font-size: 10px;
    margin: 0;

    margin-left: auto;
    margin-right: auto;

    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: lightgray;
    background: -moz-linear-gradient(left, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
}
.loader:before {
    width: 50%;
    height: 50%;
    background: lightgray;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}